<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,500&display=swap" rel="stylesheet">
  <style>
    html, body {
      background-color: #F7F8FA;
      font-family: 'Poppins', sans-serif;
      height: 100vh;
      color: #46444c;
      position: relative;
    }

    * {
      margin: 0;
      padding: 0;
    }

    main {
      max-width: 620px;
      margin: auto;
      height: 100vh;
      padding: 0 30px;
      align-items: center;
      display: flex;
      justify-content: center;
    }

    .flash_message {
      border-radius: .4rem;
      background: lightgray;
      padding: 1rem;
      margin: 2rem;
    }

    .flash_message--success {
      background: rgba(16, 185, 129);
    }

    .flash_message--danger {
      background: rgba(239, 68, 68);
    }
  </style>
</head>

<body>
  @if(flashMessages.has('success'))
    <div class="flash_message flash_message--success">
      {{ flashMessages.get('success') }}
    </div>
  @endif

  @if(flashMessages.has('danger'))
    <div class="flash_message flash_message--danger">
      {{ flashMessages.get('danger') }}
    </div>
  @endif
  <main>
    @!section('main')
  </main>
</body>

</html>
